<div class="containerdiv1">
  <div class="justify-content-between align-items-start clusterinfo">

    <!-- Izquierda -->
    <div class="cluster-select">

      <div class="mb-3">

        <label>Cluster activo</label>

        <div class="cluster-route-hint">
          Sincronizado con clusterId={{ selectedClusterId }}
        </div>

        <select class="form-select" [(ngModel)]="selectedClusterId" (change)="onClusterChange()">

          <option *ngFor="let cluster of clusters" [value]="cluster.id">

            {{ cluster.name }}

          </option>

        </select>

      </div>

      <div class="status-badge" [class.online]="isClusterOnline()" [class.offline]="!isClusterOnline()">
        <div>
          {{ isClusterOnline() ? 'Conectado' : 'Sin conexión' }}
        </div>
      </div>

    </div>

    <!-- Derecha -->
    <div class="weather-card" [ngClass]="getWeatherClass()">

      <h5>Hora Local</h5>

      <h3>
        <i class="bi bi-clock"></i>
        {{ clusterTime }}
      </h3>

      <p>{{ clusterDate }}</p>
      <p>{{ getTimezoneLabel() }}</p>

      <h3>
        <i class="bi bi-geo-alt"></i>
        {{ weather?.name }}
      </h3>

      <h3>
        <i class="bi bi-thermometer-half"></i>
        {{ weather?.main?.temp }} °C
      </h3>

      <h3>
        <i class="bi bi-droplet"></i>
        {{ weather?.main?.humidity }} %
      </h3>

      <div class="weather-info">

        <img [src]="'https://corsproxy.io/?key=583d49a6&url=https://openweathermap.org/img/wn/' +
             weather?.weather[0]?.icon +
             '@2x.png'" alt="weather icon">

        <p>{{ weather?.weather[0]?.description }}</p>

      </div>

    </div>


  </div>
  <div class="cameradiv">
    <div class="camera-container">

      <h2>Cámara Datacenter</h2>

      <div class="camera-wrapper">

        <div class="camera-inactive" *ngIf="!camera1Loaded">
          Cámara inactiva
        </div>

        <img src="http://192.168.2.125:81/stream" class="camera-stream"
          [class.hidden]="!camera1Loaded" (load)="camera1Loaded = true" />

      </div>

    </div>
    <div class="camera-container">

      <h2 class="camera-capture-title">Última captura</h2>

      <!-- PARA CAPTURAS USAR <img [src]="snapshotUrl"/>, pero ni idea como el backend guarda las fotos -->
      <div class="camera-wrapper">

        <div class="camera-inactive" *ngIf="!camera2Loaded">
          Cámara inactiva
        </div>

        <img src="http://live1.tusten.no:8080/axis-cgi/mjpg/video.cgi" class="camera-stream"
          [class.hidden]="!camera2Loaded" (load)="camera2Loaded = true" />

      </div>

    </div>

  </div>
</div>

<!-- ========================= -->
<!-- KPI CARDS -->
<!-- ========================= -->

<div class="row g-3 cards-row">

  <div class="col-12 col-sm-6 col-md-4 col-lg-2">

    <div class="card kpicard" [ngClass]="getTemperatureClass()">
      <div class="card-content">
        <div class="top">
          <span class="name">🌡 Temperatura</span>
          <select class="form-select" [(ngModel)]="temperatureView">
            <option value="avg">Promedio</option>
            <option value="s1">Sensor 1</option>
            <option value="s2">Sensor 2</option>
          </select>
        </div>
        <div class="bottom">
          <h2>{{ displayedTemperature | number:'1.1-1' }} °C</h2>
          <span class="date">
            {{ temperatureView === 'avg' ? 'Promedio' :
            temperatureView === 's1' ? 'Sensor 1' :
            'Sensor 2' }}
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-2">

    <div class="card kpicard" [ngClass]="getHumidityClass()">
      <div class="card-content">
        <div class="top">
          <span class="name">💧 Humedad</span>
          <select class="form-select" [(ngModel)]="humidityView">
            <option value="avg">Promedio</option>
            <option value="s1">Sensor 1</option>
            <option value="s2">Sensor 2</option>
          </select>
        </div>
        <div class="bottom">
          <h2>{{ displayedHumidity | number:'1.1-1' }} %</h2>
          <span class="date">
            {{ humidityView === 'avg' ? 'Promedio' :
            humidityView === 's1' ? 'Sensor 1' :
            'Sensor 2' }}
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-2">

    <div class="card kpicard" [ngClass]="getExtractorClass()">
      <div class="card-content">
        <div class="top">
          <span class="name">🌀 Extractor</span>
        </div>
        <div class="bottom">
          <h2>
            {{ latest?.extractor
            ? 'ENCENDIDO'
            : 'APAGADO'
            }}
          </h2>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-2">

    <div class="card kpicard" [ngClass]="getAirClass()">
      <div class="card-content">
        <div class="top">
          <span class="name">❄ Aire</span>
        </div>
        <div class="bottom">
          <h2>
            {{ latest?.aire
            ? 'ENCENDIDO'
            : 'APAGADO'
            }}
          </h2>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-2">

    <div class="card kpicard" [ngClass]="getDoorClass()">
      <div class="card-content">
        <div class="top">
          <span class="name">🚪 Puerta</span>
        </div>
        <div class="bottom">
          <h2>
            {{ latest?.puerta
            ? 'ABIERTA'
            : 'CERRADA'
            }}
          </h2>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- CHART -->

<div class="card chart-card">

  <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
  </canvas>

</div>